.intro {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    min-height: 100vh;
    text-align: center;
}

.top-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.intro-items {
    width: 620px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid snow;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    padding: 10px;
}

.line {
    border-bottom: 2px solid snow;
    width: 10px;
    flex-grow: 1;
}

.button {
    border: 2px solid snow;
    border-radius: 5px;
    padding: 1em;
    margin: 30px 50px;
    cursor: pointer;
    width: 6em;
}

.button:hover, .button:focus {
    background-color: darkslategray;
    color: snow;
}

@media (max-width: 700px) {
    .intro-items {
        width: 80%;
    }
}